body {
    background: linear-gradient(180deg, #541B3D 9.44%, #962558 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
    animation: slideDown 1s ease-in-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: #EA3788;
    text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.links {
    display: flex;
    gap: 20px;
}

.nav-link {
    font-size: 18px;
    color: white;
    text-decoration: none;
    position: relative;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
    color: #EA3788;
    transform: scale(1.1);
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #EA3788;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.custom-icon {
    margin-right: 5px;
    font-size: 20px;
    vertical-align: middle;
}


.how-to-play-title {
    font-size: 36px;
    color: #FFF;
}

.how-to-card {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.how-to-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.how-to-icon {
    font-size: 48px;
    color: #EA3788;
    margin-bottom: 15px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #FFF;
}

.card-text {
    font-size: 16px;
    color: #FFF;
}

.startBtn {
    background-color: #D9D9D9;
    color: #EA3788;
    font-weight: 500;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 37px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.startBtn:hover {
    background-color: #EA3788;
    color: #FFF;
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(234, 55, 136, 0.8);
}

.game-modes-title {
    font-size: 28px;
    color: #FFF;
}

.game-mode-card {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-mode-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.game-mode-icon {
    font-size: 48px;
    color: #EA3788;
    margin-bottom: 15px;
}

.game-mode-card .card-title {
    font-size: 22px;
    color: #FFF;
    margin-bottom: 10px;
}

.game-mode-card .card-text {
    font-size: 16px;
    color: #FFF;
}
@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.fade-wrapper {
    opacity: 0;
    transition: opacity 1s ease;
}

.fade-wrapper.fade-in {
    opacity: 1;
}

.fade-wrapper.fade-out {
    opacity: 0;
}